LOCAL_EXTRACTOR_PORT=5052
LOCAL_EXTRACTOR_IMAGES_SCALE=2
LOCAL_EXTRACTOR_MAX_IMAGES_SCALE=3
LOCAL_EXTRACTOR_OCR_LANGUAGE=eng
LOCAL_EXTRACTOR_FORCE_OCR_RETRY=true
LOCAL_EXTRACTOR_SOFFICE_TIMEOUT_SECONDS=180
LIBREOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.com
VITE_LOCAL_EXTRACTOR_TIMEOUT_MS=600000

OPENCODE_API_KEY=
OPENCODE_VISION_MODEL=mimo-v2.5
OPENCODE_VISION_TIMEOUT_MS=90000
OPENCODE_VISION_MAX_TOKENS=1200
OPENCODE_VISION_TEMPERATURE=0.2
OPENCODE_VISION_CONCURRENCY=1
OPENCODE_VISION_PAGE_TEXT_CHARS=1800
OPENCODE_VISION_MAX_IMAGE_BYTES=4194304
OPENCODE_VISION_PROMPT_VERSION=v1
SLIDEVISION_CACHE_NAMESPACE=default
SLIDEVISION_CACHE_PATH=data/slidevision-cache.sqlite

VITE_OPENCODE_VISION_MODEL=mimo-v2.5
VITE_OPENCODE_VISION_TIMEOUT_MS=120000
VITE_VISUAL_MIN_PICTURE_BOXES=1
VITE_VISUAL_MIN_PICTURE_AREA_PERCENT=12
VITE_VISUAL_MIN_RESIDUAL_RATIO_PERCENT=30
VITE_VISUAL_MIN_EDGE_RATIO_PERCENT=10
VITE_VISUAL_TEXT_MASK_PADDING=3
VITE_VISUAL_MIN_TEXT_BOXES_TO_MASK=1
VITE_VISUAL_MAX_REPEAT_COUNT=1
VITE_VISUAL_ENABLE_RESIDUAL_FALLBACK=false
