LOCAL_EXTRACTOR_PORT=5052
LOCAL_EXTRACTOR_IMAGES_SCALE=2
LOCAL_EXTRACTOR_MAX_IMAGES_SCALE=3
LOCAL_EXTRACTOR_OCR_LANGUAGE=eng
LOCAL_EXTRACTOR_FORCE_OCR_RETRY=true
LOCAL_EXTRACTOR_SOFFICE_TIMEOUT_SECONDS=180
LIBREOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.com
VITE_LOCAL_EXTRACTOR_TIMEOUT_MS=600000
